/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

@font-face {
  font-family: 'Gentium Served';
  font-style: normal;
  font-weight: 400;
  src: url('../font/general/Gentium Regular.ttf');
  src: local('Gentium Regular')
  format('ttf');
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.body{
    font-size: 10;
}

.pr-menu-back {
    height:240px;
    background: url('../images/material-back-teal.png');
    margin: 0px;
    padding: 0px;
}

.pr-menu-back-empty{
    height: 64px;
}
.pr-menu-close-button a:hover{
    text-decoration-color: red;
}
.pr-slogan-rigor{
    margin:0px;
}
.pr-container{
    padding: 0px;
        padding-left: 45px;
        padding-right: 45px;
}

.body{
    font-family: 'Gentium Served';
}
.pr-blog-content, .pr-word-meaning {
    font-family: 'Gentium Served' ;
}