{%block oldcomments%}
    <div class="row">
        <div class="col s12">
            <div class="card">
            <div class="card-content">
                <div>Rajan Says</div>
                <div>I am glad about this letter brother</div>
                <div class="divider"></div>
                <div>Sajan Says</div>
                <div>I am not at all convinced that this is the best thing to do anyway
                    glad about this letter brother</div>
                <div class="divider"></div>
                <div>Mahantha Says</div>
                <div> The idea is absolutely rubbish and we can't go any further with this.
                    glad about this letter brother</div>
                <div class="divider"></div>
            </div>
            </div>
        </div>
     </div>
{%endblock oldcomments%}
{%block newcomment%}
    <div class="row">
        <div class="col s12">
            <div class="card">
            <div class="card-content">
            <input type="text" placeholder="Enter Your First Name"/> <br/>
            <input type="text" placeholder="Enter your last name"/> <br/>
            <textarea type="text"/> </textarea><br/>
            </div>
            </div>
        </div>
     </div>
{%endblock newcomment %}
