{%extends "Blog/base.html" %}
{%load staticfiles %}
{%load BlogExtras %}
{%block bodycontent %}

{%block full-card %}
<div class="container">
{% for post in allposts %}
<div class="row">
    <div class="col l12 s12 m12">
      <div class="card ">
        <div class="card-content black-text">
          <div class="row">
              <div class="col s7 m8 l10">
                  <span class="card-title teal-text text-darken-3" style="font-size: 2em">
                      <a href="{% url 'detail' post.slug %}">{{post.title}}</a>
                  </span>
              </div>
              <div class="col s5 m4  l2">
                  <span class="blue-text text-darken-2" style="text-align: right;">{{post.createdate}}</span>
              </div>
            </div>
            <div class="divider"></div>
            <div class="content" style="text-align: justify; font-size: 1.2em">
            <p>
                {{post.body|shorten:350|linebreaksbr}} 
            </p>
          </div>
          <div class="divider"></div>
          <br/>
          <div class="chip">
                <img src="{%static 'images/capital-t.png'%}" alt="Tags">
                Tags
          </div><!--chip-->
          {%for tag in post.tags.all %}
          <a href="#"><div class="chip blue-text text-lighten-1">{{tag}}</div></a>
          {%endfor %}
        </div>
        
        <div class="card-action">
            <a href="{% url 'detail' post.slug %}">read more</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
</div><!--row-->
{% endfor %}
{% comment %}
{% for n in Repeat %}
<div class="row">
    <div class="col l12 s12 m12">
      <div class="card ">
        <div class="card-content black-text">
          <div class="row">
              <div class="col s7 m8 l10">
                  <span class="card-title teal-text text-darken-3" style="font-size: 2em">
                      Are events random
                  </span>
              </div>
              <div class="col s5 m4  l2">
                  <span class="blue-text text-darken-2" style="text-align: right;">Jan 21, 2015</span>
              </div>
            </div>
            <div class="divider"></div>
            <div class="content" style="text-align: justify; font-size: 1.2em">
            <p>I am a very simple card. I am good at containing small bits of information.
               I am convenient because I require little markup to use effectively.
               यही हो हाम्रो लोरेम इप्सम कुन चाहिँको हो यो डलस सिट हामी त्यही सम्पत्ति खोजेर बसेका छौ जो हाम्हर पुर्खा खोज्दै थिए। 
               यही हो हाम्रो लोरेम इप्सम डलस सिट हामी त्यही सम्पत्ति खोजेर बसेका छौ जो हाम्हर पुर्खा खोज्दै थिए।
               यही हो हाम्रो लोरेम इप्सम डलस सिट हामी त्यही सम्पत्ति खोजेर बसेका छौ जो हाम्हर पुर्खा खोज्दै थिए।
               यही हो हाम्रो लोरेम इप्सम डलस सिट हामी त्यही सम्पत्ति खोजेर बसेका छौ जो हाम्हर पुर्खा खोज्दै थिए।
               <p>
               <code>for(i = 0; i< 5; i++)</code>
               यही हो हाम्रो लोरेम इप्सम डलस सिट हामी त्यही सम्पत्ति खोजेर हामी यहाँ पनि छौँ।  बसेका छौ जो हाम्हर पुर्खा खोज्दै थिए।
               यही हो हाम्रो लोरेम इप्सम डलस सिट हामी त्यही कुराको घर हौँ। हामी त्यही सम्पत्ति खोजेर बसेका छौ जो हाम्हर पुर्खा खोज्दै थिए।
               यही हो हाम्रो लोरेम हामी पनि छौँ यहाँ इप्सम डलस सिट हामी त्यही सम्पत्ति खोजेर बसेका छौ जो हाम्हर पुर्खा खोज्दै थिए।
               यही हो हाम्रो लोरेम इप्सम डलस सिट हामी त्यही सम्पत्ति खोजेर बसेका छौ जो हाम्हर पुर्खा खोज्दै थिए।
          </p>
          </div>
          <div class="divider"></div>
          <br/>
          <div class="chip">
                <img src="{%static 'images/capital-t.png'%}" alt="Tags">
                Tags
          </div><!--chip-->
            <a href="#"><div class="chip blue-text text-lighten-1">Science</div></a>
            <a href="#"><div class="chip blue-text text-lighten-1">Math</div></a>
            <a href="#"><div class="chip blue-text text-lighten-1">Physics</div></a>
        </div>
        
        <div class="card-action">
          <a href="#">This is a link</a>
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
</div><!--row-->
{% endfor %}
{% endcomment %}
</div><!--container-->

{%endblock full-card%}

{%endblock bodycontent %}
