{% extends "Blog/base.html" %}
{% block content %}
<div class="Outermost" align="center">
    {% include "Blog/toolbar.html" %}
    <div class="ContentArea">
        <span class="MainArea">
            {% if NewsGroup %}
            {%load BlogExtras %}
            {% for News in NewsGroup %}
            <div class="Batta News">
                <div class="NewsHeader">{{News.Title}} </div>
                <div class="NewsContent">
                    {{News.Place}},{{News.Date}}<p>
                    {{News.Source}} <p>
                    {{News.NewsText|linebreaksbr }}...<a href="#">Read All .. </a>
                </div>
             </div>
            &nbsp;
            <div class="NewsSpacer"> </div>
            {% endfor %}
            {% endif %}
        </span>
        <!-- Now starts the sidebar contents-->
        <span class="Sidebar SideBarWidth">
            <div class="Batta">
                <div class="BattaTitle">छेवैको शीर्षक</div>
                <div class="BattaContent">
                    आन्दोलन दबाउन चैत १२ गते बिहान २ सय ५० जनाको सैनिक टोली विराटनगर पुग्यो। लगत्तै व्यापक धरपकड सुरु भयो। पहिले तारिणीप्रसाद कोइराला समातिए। त्यसपछि गिरिजा, गेहेन्द्रहरि शर्मा (विकु), मनमोहन अधिकारी र युवराज अधिकारी पक्राउ परे। अनि समातिए, विश्वेश्वरप्रसाद कोइराला। सशस्त्र सिपाहीको डफ्फाले यी छजनालाई विराटनगरबाट फुस्रे लिएर गयो। त्यहाँबाट दिनभरिको बाटो धनकुटा। र, त्यहाँबाट पैदलै पैदल काठमाडौं। त्यो पनि मधेसको बाटो होइन, पहाडै पहाड। तीन साताभन्दा बढी लगाएर बन्दीका रूपमा विराटनगरदेखि पहाडी बाटो काठमाडौं आइपुग्दाको क्षण बिपी कोइरालाले आफ्नो आत्मवृत्तान्तमा वर्णन गरेका छन्। बिपी लगायतलाई काठमाडौं ल्याइएको त्यही बाटो भदौ १ देखि २४ गतेसम्म फेरि पैदलयात्रा गरिने भएको छ।		</div>
            </div>
            &nbsp;
            <div class="Batta">
                <div class="BattaTitle">अर्को  शीर्षक</div>
                <div class="BattaContent">
                    आन्दोलन दबाउन चैत १२ गते बिहान २ सय ५० जनाको सैनिक टोली विराटनगर पुग्यो। लगत्तै व्यापक धरपकड सुरु भयो। पहिले तारिणीप्रसाद कोइराला समातिए। त्यसपछि गिरिजा, गेहेन्द्रहरि शर्मा (विकु), मनमोहन अधिकारी र युवराज अधिकारी पक्राउ परे। अनि समातिए, विश्वेश्वरप्रसाद कोइराला। सशस्त्र सिपाहीको डफ्फाले यी छजनालाई विराटनगरबाट फुस्रे लिएर गयो। त्यहाँबाट दिनभरिको बाटो धनकुटा। र, त्यहाँबाट पैदलै पैदल काठमाडौं। त्यो पनि मधेसको बाटो होइन, पहाडै पहाड। तीन साताभन्दा बढी लगाएर बन्दीका रूपमा विराटनगरदेखि पहाडी बाटो काठमाडौं आइपुग्दाको क्षण बिपी कोइरालाले आफ्नो आत्मवृत्तान्तमा वर्णन गरेका छन्। बिपी लगायतलाई काठमाडौं ल्याइएको त्यही बाटो भदौ १ देखि २४ गतेसम्म फेरि पैदलयात्रा गरिने भएको छ।		</div>
            </div>
            &nbsp;
        </span>
        <!-- Sidebar contents end here -->
    </div><!--ContentArea div close-->
</div><!--Outermost Div Close -->
{% endblock content %}