{%load staticfiles %}
{% block navbar %}
<nav class="teal darken-2" role="navigation">
    <div class="nav-wrapper container" ><a id="logo-container" href="#" class="brand-logo"><img src="{% static 'images/pranphy-icon.png'%}" style="height: 35px; width=35px"/> Pranphy</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        <li><a href="{% url 'download' %}">Downloads</a></li>
      </ul>
      <ul id="nav" class="side-nav">
        <li><a href="/">Home</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
{%endblock navbar%}
