{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{%block title %}Imagination | Miles to go before I sleep{%endblock title%}</title>
  <link rel="shortcut icon" type="image/png" href="{%static 'images/favicon.ico'%}">
  <!-- CSS  -->
  {%block css %}
  <link href="{%static 'css/MaterialFonts.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{%static 'css/materialize.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{%static 'css/style.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{%static 'css/prettify/prettify.css'%}" type="text/css" rel="stylesheet" media="screen,projection"/>
  {%endblock css%}
</head>
<body onload="prettyPrint()">
    {%include "navbar.html" %}
    {%block bodycontent%} {% endblock bodycontent %}
    {%include "footer.html" %}
  <!--  Scripts-->
  <script src="{%static 'js/jquery-2.1.4.min.js'%}"></script>
  <script src="{%static 'js/materialize.js' %}"></script>
  <script src="{%static 'js/init.js'%}"></script>
  <script src="{%static 'js/prettify/prettify.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/plotly.js/1.33.1/plotly.js"></script>
  </body>
</html>
