{% load static %}
{%block footer %}
<footer class="page-footer blue accent-4">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Prakash Gautam</h5>
          <p class="grey-text text-lighten-4">From <strong>The Delta Finders.</strong> </p>
          <p>I can't just lie there and pass time, there is
             something in my mind. I try to write,  I write 
             in my mind and throw it there. This is  how it
             has been going
          </p>
        </div>
       <div class="col l6 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
              <li><a class="white-text" href="http://github.com/pranphy/"><img src="{% static 'images/github-icon.png' %}" style="height:23px; width:23px" />Github</a></li>
              <li><a class="white-text" href="http://plus.google.com/pranphy/"><i class="material-icons">person_pin</i>Google+</a></li>
              <li><a class="white-text" href="http://twitter.com/pranphy"><i class="material-icons">person_pin</i>Twitter</a></li>
              <li><a class="white-text" href="http://fb.com/pranphy"><img src="{% static 'images/facebook-icon.png' %}" style="height:23px; width:23px" />Facebook</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container text-center">
      A proud member of<a class="orange-text text-lighten-3" href="http://github.com/TheDeltaFinders/">The Delta Finders</a>
      </div>
    </div>
  </footer>
{% endblock footer %}
